/.env
venv/
.cursor/
requirements-dev.txt
pytest.ini
.env.devnet
__pycache__/
test.md
MAIN_PIPELINES.md
.env

soltoken-frontend/node_modules/
soltoken-frontend/package-lock.json
soltoken-frontend/package.json
docs/

node_modules/